@import "reset";
@import "body";

img {width: 100%;}

$color: white;
$font: Helvetica, Arial, "Lucida Grande", sans-serif; 
$padding: 10px;
$margin: 10px 0 10px 0;
$border-radius: 10px;

header {
    h1 {color:$color; font-family:$font; background-color:transparent; padding: 0;}
}

h1 {color: #E74C3C; background-color: white; margin: $margin; padding: $padding; border-radius: $border-radius; font-family:$font}
h2 {color:$color; font-family:$font; font-size:12px;}
ul {color:$color; font-family:$font; border-radius: $border-radius;
}

nav {background-color: #2980B9; padding: $padding;
ul {list-style:none;  overflow: auto; 
li {float: left; }
}
a {color: $color; text-decoration: none; padding: $padding; display: block; }
border-radius: $border-radius; 
}

article {background-color: #2980B9; padding: $padding; color: $color; font-family: $font;
ul {list-style: disc; padding: 20px;}
    border-radius: $border-radius;
    margin:$margin;
}